/* GOOGLE SANS */
@font-face {
    font-family: "googleSans";
    font-style: normal;
    font-weight: 300;
    src: url("~/assets/fonts/googleSans/OpenSans-Light.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "googleSans";
    font-style: normal;
    font-weight: normal;
    src: url("~/assets/fonts/googleSans/OpenSans-Regular.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "googleSans";
    font-style: normal;
    font-weight: 500;
    src: url("~/assets/fonts/googleSans/OpenSans-Medium.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "googleSans";
    font-style: normal;
    font-weight: 700;
    src: url("~/assets/fonts/googleSans/OpenSans-Bold.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "googleSans";
    font-style: normal;
    font-weight: 600;
    src: url("~/assets/fonts/googleSans/OpenSans-SemiBold.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "googleSans";
    font-style: normal;
    font-weight: 750;
    src: url("~/assets/fonts/googleSans/OpenSans-ExtraBold.woff") format("woff");
    font-display: swap;
}